body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #cfd8dc; /* Light grey text color for dark mode */
    background-color: #121212; /* Dark background color for dark mode */
}

h1, h2, h3, h4, h5, h6 {
    color: #4caf50; /* Dark green color for headings */
}

ul {
    list-style-type: disc; /* Use bullet points for lists */
}

a {
    color: #4caf50; /* Green color for links */
    text-decoration: none; /* Remove underline from links */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
